{% extends 'base.html' %}

{% block content %}

<main class ="container">
     <div class="row">
     <div class="col-md-5 offset-md-4 mt-5">
<h1 class="display-5 py-3">Gestion de Productos</h1>
<ul class="list-group">
{% for producto in productos %}

     {% comment %} <li c> {% endcomment %}
          <a class="list-group-item my-1" href = "{% url 'detalle_producto' producto.id %}">
          <h2>{{ producto.nombre }}</h2>
          <h5>Precio: {{ producto.precio }}</h5>
          <h5>Cantidad: {{ producto.cantidad }}</h5>
          <h5>Proovedor: {{ producto.proovedor }}</h5>
          <h5>Contacto: {{ producto.contacto }}</h5>
          </a>
     {% comment %} </li>  {% endcomment %}

{% endfor %}

</ul>
</div> 
<div/>  
<main/>

{% endblock %}