{% extends 'base.html' %}

{% block content %}


<main class ="container">
     <div class="row">
     <div class="col-md-5 offset-md-4 mt-5">
     <form action="/signup/" method="POST" class="card card-body">
          <h1 class="text-center py-3">Bienvenido<h1>
          {{ error }}
          {% csrf_token %}
          <div class="mb-3">
               <label for="username">Nombre:</label>
               <input type="text" name="username" id="username"
               class="form-comtrol" placeholder="Escribe tu nombre">
          </div>
          <div class="mb-3">
               <label for="password1">Contraseña:</label>
               <input type="password" name="password1" id="password1"
               class="form-comtrol" placeholder="Escribe tu contraneña">
          </div>
          <div class="mb-3">
               <label for="password2">Confirma tu ontraseña:</label>
               <input type="password" name="password2" id="password2"
               class="form-comtrol" placeholder="Escribe tu contraneña">
          </div>
     
          <button class="btn btn-dark">
               Signup
          </button>
          
     </form>  
     </div> 
     <div/>  
<main/>



{% endblock %}